%html
	%head
		%title MusicTab
		%link{'rel'=>"stylesheet",'type'=>"text/css",'media'=>"screen",'href'=>"stylesheets/home.css"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "javascript/jquery-1.7.2.min.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "javascript/support.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "javascript/player.js"}
		
	%body
		.container
			=yield

	
