.player
	#playtoggle
	#track-info
		#infobox
			#title
			#timeleft
		#gutter
			#loading
			#handle.ui-slider-handle
	
	
.list
	%table
		%thead
			%tr
				%th{width:"30px"}
					Sl.no
				%th{width:"20%"}
					Title
				%th{width:"20%"}
					Album
				%th{width:"20%"}
					Artist
		%tbody
			- Files.each do |object|
				%tr{:id => object.id}
					%td= object.id
					%td#title= object.title
					%td#album= object.album
					%td#artist= object.artist

%script{:type => "text/javascript", :charset => "utf-8", :src => "javascript/player.js"}
