%html
	%head
		%title TabPlayer
		%link{'rel'=>"stylesheet",'type'=>"text/css",'media'=>"screen",'href'=>"/stylesheets/nosetup.css"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "/javascript/jquery-1.7.2.min.js"}
	%body
		.container
			=yield

	
