%p
	Hi, the application is running, but it is unable to find the configurations,
	which means it is broken or the user didn't had enough time to configure the application
	Please comeback later.
%p
	Thanks