
%p
	Add some music to your library!

.addmusic
	.library
			
	
	:javascript
		ls=#{@list};
		cwd="#{Dir.home}/";
		$(document).ready(function(){
			$.each(ls,function(l,i){
				if(i.indexOf(".mp3")>0){
					$('.browser').append("<div class='file' id="+i+"><div class='icon'></div><p>"+i+"</p></div>");}
				else{
					$('.browser').append("<div class='folder' id="+i+"><div class='icon'></div><p>"+i+"</p></div>");
				}
			});

		});	
	.browser
	
	.instructions
		%p
			Use your keyboard arrows to navigate through just like in you file browser or windows explorer.
		%p
			Press enter to go inside a directory, backspace to go back or up directory.
		%p
			Press Control key and hold it and press enter to add it to sources (left upper box).
		%p
			Once you are done press continue button below.
		%input.save{:type=>'button',:value=>'Continue'}
			
%script{:type => "text/javascript", :charset => "utf-8", :src => "/javascript/setup.js"}
