
%script{:type => "text/javascript", :charset => "utf-8", :src => "/javascript/jquery-ui-1.8.21.custom.min.js"}
%p
	Hi, Welcome to TabPlayer. Add some music to your library!

.addmusic
	.library
			
	
	:javascript
		ls=#{@list};
		cwd="#{Dir.home}/";
		$(document).ready(function(){
			$.each(ls,function(l,i){
				if(i.indexOf(".mp3")>0){
					$('.browser').append("<div class='file' id="+i+"><div class='icon'></div><p>"+i+"</p></div>");}
				else{
					$('.browser').append("<div class='folder' id="+i+"><div class='icon'></div><p>"+i+"</p></div>");
				}
			});

		});	
	.browser
	
	.instructions
		%input.save{:type=>'button'}
			
%script{:type => "text/javascript", :charset => "utf-8", :src => "/javascript/setup.js"}
