body{
	margin: 0;
	padding: 0;
	background-color: #dfdfdf;
	font-family: arial;
}
body *{
	margin: 0;
	padding: 0;
}
.player{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	width: 920px;
	margin: 10px auto 0;
	border: 1px solid #afafaf;
	border-radius: 3px;
	overflow: hidden;
	height: 60px;
	padding: 10px;
}
.player #playtoggle{
	width: 60px;
	height: 60px;
    background-color: #bf4931;
    border-radius: 5px;
    float: left;
}
.player #playtoggle:active{
	background-color: #da4a38;
}
.player #track-info{
	width: 850px;
	margin-left: 10px;
    float: left;
    height: 60px;
}
.player #gutter{
	width: 100%;
	border-radius: 5px;
	background-color: #d4d4d4;
	height: 10px;	
	cursor: pointer;
}
.player #gutter:hover{
	cursor:pointer;
}
.player #loading{
	height: 10px;
	background-color: gray;
	width: 0;
	border-radius: 5px;
}
.player #infobox{
	font-size: 12px;
	width: 400px;
	height: 50px;
}
.player #title, .player #timeleft{
	float:left;
	margin: 0 5px;
}
.list{
	width: 942px;
	margin: 10px auto 0;
	height: 430px;
	overflow: auto;
}
.list table tbody tr:nth-child(even) { background: #f1f5fa; }
.list table tbody tr:nth-child(odd) { background: #fff; }
.list table { background-color: #fff; border: 1px solid #ddd; empty-cells: show; font-size: 90%; padding: 4px; text-align: left; width: 100%;table-layout:fixed; }
.list table caption { color: #777; margin: 0 0 5px 0; padding: 0; text-align: center; text-transform: uppercase; }
.list table thead th { border: 0; border-bottom: 1px solid #ddd; color: #000; font-size: 90%; padding: 3px; margin: 0 0 5px 0; text-align: left; }
.list table tbody tr { background-color: #fff;height:1em; }
.list table tbody tr:hover { background-color: #3D80DF; color: #fff; text-shadow: #2E9AFE; cursor:pointer}
.list table tbody tr:active { background-color: #2E9AFE !important; }
.list table tbody td { color: #000; padding: 2px; border: 0; overflow:hidden;white-space:nowrap;}
.list table tbody tr:hover td { color: #fff; }
.playing{
	background: #efefef !important;
	font-style: italic;
	font-weight: bold;
}
.playing:hover{background: #3D80DF !important}
